--
-- PostgreSQL database dump
--

\restrict bPAppnBqgh17NGCtUf3929ZKJeep71iOYvY9ak16GQ6VwgSBfkVFx3uUppiQch6

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: poll_options; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.poll_options (
    id integer NOT NULL,
    poll_id integer,
    text character varying,
    image_path character varying,
    votes_count integer
);


ALTER TABLE public.poll_options OWNER TO "user";

--
-- Name: poll_options_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.poll_options_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.poll_options_id_seq OWNER TO "user";

--
-- Name: poll_options_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.poll_options_id_seq OWNED BY public.poll_options.id;


--
-- Name: poll_template_options; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.poll_template_options (
    id integer NOT NULL,
    template_id integer,
    text character varying,
    image_path character varying
);


ALTER TABLE public.poll_template_options OWNER TO "user";

--
-- Name: poll_template_options_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.poll_template_options_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.poll_template_options_id_seq OWNER TO "user";

--
-- Name: poll_template_options_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.poll_template_options_id_seq OWNED BY public.poll_template_options.id;


--
-- Name: poll_templates; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.poll_templates (
    id integer NOT NULL,
    title character varying,
    description character varying,
    created_by integer,
    can_be_public boolean,
    created_at timestamp without time zone
);


ALTER TABLE public.poll_templates OWNER TO "user";

--
-- Name: poll_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.poll_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.poll_templates_id_seq OWNER TO "user";

--
-- Name: poll_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.poll_templates_id_seq OWNED BY public.poll_templates.id;


--
-- Name: poll_templates_publish; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.poll_templates_publish (
    id integer NOT NULL,
    original_poll_id integer,
    title character varying,
    description character varying,
    created_by integer,
    is_public boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.poll_templates_publish OWNER TO "user";

--
-- Name: poll_templates_publish_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.poll_templates_publish_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.poll_templates_publish_id_seq OWNER TO "user";

--
-- Name: poll_templates_publish_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.poll_templates_publish_id_seq OWNED BY public.poll_templates_publish.id;


--
-- Name: poll_templates_publish_options; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.poll_templates_publish_options (
    id integer NOT NULL,
    published_template_id integer,
    text character varying,
    image_path character varying
);


ALTER TABLE public.poll_templates_publish_options OWNER TO "user";

--
-- Name: poll_templates_publish_options_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.poll_templates_publish_options_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.poll_templates_publish_options_id_seq OWNER TO "user";

--
-- Name: poll_templates_publish_options_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.poll_templates_publish_options_id_seq OWNED BY public.poll_templates_publish_options.id;


--
-- Name: polls; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.polls (
    id integer NOT NULL,
    title character varying,
    description character varying,
    creator_id integer,
    session_id integer,
    duration_seconds integer,
    voting_mode character varying,
    start_time integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.polls OWNER TO "user";

--
-- Name: polls_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.polls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.polls_id_seq OWNER TO "user";

--
-- Name: polls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.polls_id_seq OWNED BY public.polls.id;


--
-- Name: session_participants; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.session_participants (
    id integer NOT NULL,
    session_id integer,
    username character varying,
    joined_at timestamp without time zone
);


ALTER TABLE public.session_participants OWNER TO "user";

--
-- Name: session_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.session_participants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_participants_id_seq OWNER TO "user";

--
-- Name: session_participants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.session_participants_id_seq OWNED BY public.session_participants.id;


--
-- Name: session_user_votes; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.session_user_votes (
    id integer NOT NULL,
    session_id integer,
    user_id integer,
    votes_json text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.session_user_votes OWNER TO "user";

--
-- Name: session_user_votes_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.session_user_votes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_user_votes_id_seq OWNER TO "user";

--
-- Name: session_user_votes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.session_user_votes_id_seq OWNED BY public.session_user_votes.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    token character varying,
    code character varying(6),
    host_username character varying,
    session_data json NOT NULL,
    responses_data json NOT NULL,
    status character varying(20),
    version integer NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    ended_at timestamp without time zone,
    deleted_at timestamp without time zone
);


ALTER TABLE public.sessions OWNER TO "user";

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sessions_id_seq OWNER TO "user";

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying,
    email character varying,
    hashed_password character varying,
    is_admin boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: votes; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.votes (
    id integer NOT NULL,
    poll_id integer,
    option_id integer,
    user_id integer,
    rating integer,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.votes OWNER TO "user";

--
-- Name: votes_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.votes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.votes_id_seq OWNER TO "user";

--
-- Name: votes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.votes_id_seq OWNED BY public.votes.id;


--
-- Name: poll_options id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_options ALTER COLUMN id SET DEFAULT nextval('public.poll_options_id_seq'::regclass);


--
-- Name: poll_template_options id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_template_options ALTER COLUMN id SET DEFAULT nextval('public.poll_template_options_id_seq'::regclass);


--
-- Name: poll_templates id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates ALTER COLUMN id SET DEFAULT nextval('public.poll_templates_id_seq'::regclass);


--
-- Name: poll_templates_publish id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish ALTER COLUMN id SET DEFAULT nextval('public.poll_templates_publish_id_seq'::regclass);


--
-- Name: poll_templates_publish_options id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish_options ALTER COLUMN id SET DEFAULT nextval('public.poll_templates_publish_options_id_seq'::regclass);


--
-- Name: polls id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.polls ALTER COLUMN id SET DEFAULT nextval('public.polls_id_seq'::regclass);


--
-- Name: session_participants id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_participants ALTER COLUMN id SET DEFAULT nextval('public.session_participants_id_seq'::regclass);


--
-- Name: session_user_votes id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_user_votes ALTER COLUMN id SET DEFAULT nextval('public.session_user_votes_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: votes id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.votes ALTER COLUMN id SET DEFAULT nextval('public.votes_id_seq'::regclass);


--
-- Data for Name: poll_options; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.poll_options (id, poll_id, text, image_path, votes_count) FROM stdin;
\.


--
-- Data for Name: poll_template_options; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.poll_template_options (id, template_id, text, image_path) FROM stdin;
\.


--
-- Data for Name: poll_templates; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.poll_templates (id, title, description, created_by, can_be_public, created_at) FROM stdin;
1	Domy┼Ťlna pusta ankieta, nie edytowac	\N	1	f	2026-05-17 23:03:38.717194
\.


--
-- Data for Name: poll_templates_publish; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.poll_templates_publish (id, original_poll_id, title, description, created_by, is_public, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: poll_templates_publish_options; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.poll_templates_publish_options (id, published_template_id, text, image_path) FROM stdin;
\.


--
-- Data for Name: polls; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.polls (id, title, description, creator_id, session_id, duration_seconds, voting_mode, start_time, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: session_participants; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.session_participants (id, session_id, username, joined_at) FROM stdin;
\.


--
-- Data for Name: session_user_votes; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.session_user_votes (id, session_id, user_id, votes_json, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.sessions (id, token, code, host_username, session_data, responses_data, status, version, created_at, updated_at, ended_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.users (id, username, email, hashed_password, is_admin, created_at, updated_at) FROM stdin;
1	admin1	admin1@example.com	$2b$12$kzsxJ0Cob9wV0f7wqLM4GOf/P3ocjCy2/3mt0nyIQy0U8hWrEbBDK	t	2026-05-17 23:03:38.713402	2026-05-17 23:03:38.713404
\.


--
-- Data for Name: votes; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.votes (id, poll_id, option_id, user_id, rating, created_at, updated_at) FROM stdin;
\.


--
-- Name: poll_options_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.poll_options_id_seq', 1, false);


--
-- Name: poll_template_options_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.poll_template_options_id_seq', 1, false);


--
-- Name: poll_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.poll_templates_id_seq', 1, false);


--
-- Name: poll_templates_publish_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.poll_templates_publish_id_seq', 1, false);


--
-- Name: poll_templates_publish_options_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.poll_templates_publish_options_id_seq', 1, false);


--
-- Name: polls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.polls_id_seq', 1, false);


--
-- Name: session_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.session_participants_id_seq', 1, false);


--
-- Name: session_user_votes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.session_user_votes_id_seq', 1, false);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: votes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.votes_id_seq', 1, false);


--
-- Name: poll_options poll_options_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_options
    ADD CONSTRAINT poll_options_pkey PRIMARY KEY (id);


--
-- Name: poll_template_options poll_template_options_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_template_options
    ADD CONSTRAINT poll_template_options_pkey PRIMARY KEY (id);


--
-- Name: poll_templates poll_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates
    ADD CONSTRAINT poll_templates_pkey PRIMARY KEY (id);


--
-- Name: poll_templates_publish_options poll_templates_publish_options_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish_options
    ADD CONSTRAINT poll_templates_publish_options_pkey PRIMARY KEY (id);


--
-- Name: poll_templates_publish poll_templates_publish_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish
    ADD CONSTRAINT poll_templates_publish_pkey PRIMARY KEY (id);


--
-- Name: polls polls_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.polls
    ADD CONSTRAINT polls_pkey PRIMARY KEY (id);


--
-- Name: session_participants session_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_participants
    ADD CONSTRAINT session_participants_pkey PRIMARY KEY (id);


--
-- Name: session_user_votes session_user_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_user_votes
    ADD CONSTRAINT session_user_votes_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: session_user_votes uq_session_user_votes; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_user_votes
    ADD CONSTRAINT uq_session_user_votes UNIQUE (session_id, user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: votes votes_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_pkey PRIMARY KEY (id);


--
-- Name: idx_sessions_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_sessions_created_at ON public.sessions USING btree (created_at);


--
-- Name: idx_sessions_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_sessions_status ON public.sessions USING btree (status);


--
-- Name: ix_poll_options_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_poll_options_id ON public.poll_options USING btree (id);


--
-- Name: ix_poll_templates_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_poll_templates_id ON public.poll_templates USING btree (id);


--
-- Name: ix_poll_templates_publish_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_poll_templates_publish_id ON public.poll_templates_publish USING btree (id);


--
-- Name: ix_poll_templates_publish_original_poll_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_poll_templates_publish_original_poll_id ON public.poll_templates_publish USING btree (original_poll_id);


--
-- Name: ix_poll_templates_publish_title; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_poll_templates_publish_title ON public.poll_templates_publish USING btree (title);


--
-- Name: ix_poll_templates_title; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_poll_templates_title ON public.poll_templates USING btree (title);


--
-- Name: ix_polls_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_polls_id ON public.polls USING btree (id);


--
-- Name: ix_polls_session_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_polls_session_id ON public.polls USING btree (session_id);


--
-- Name: ix_polls_title; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_polls_title ON public.polls USING btree (title);


--
-- Name: ix_session_participants_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_session_participants_id ON public.session_participants USING btree (id);


--
-- Name: ix_session_participants_session_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_session_participants_session_id ON public.session_participants USING btree (session_id);


--
-- Name: ix_session_participants_username; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_session_participants_username ON public.session_participants USING btree (username);


--
-- Name: ix_session_user_votes_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_session_user_votes_id ON public.session_user_votes USING btree (id);


--
-- Name: ix_session_user_votes_session_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_session_user_votes_session_id ON public.session_user_votes USING btree (session_id);


--
-- Name: ix_session_user_votes_user_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_session_user_votes_user_id ON public.session_user_votes USING btree (user_id);


--
-- Name: ix_sessions_code; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_sessions_code ON public.sessions USING btree (code);


--
-- Name: ix_sessions_host_username; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_sessions_host_username ON public.sessions USING btree (host_username);


--
-- Name: ix_sessions_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_sessions_id ON public.sessions USING btree (id);


--
-- Name: ix_sessions_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_sessions_status ON public.sessions USING btree (status);


--
-- Name: ix_sessions_token; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_sessions_token ON public.sessions USING btree (token);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_votes_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_votes_id ON public.votes USING btree (id);


--
-- Name: ix_votes_poll_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_votes_poll_id ON public.votes USING btree (poll_id);


--
-- Name: poll_template_options poll_template_options_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_template_options
    ADD CONSTRAINT poll_template_options_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.poll_templates(id);


--
-- Name: poll_templates poll_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates
    ADD CONSTRAINT poll_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: poll_templates_publish poll_templates_publish_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish
    ADD CONSTRAINT poll_templates_publish_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: poll_templates_publish_options poll_templates_publish_options_published_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish_options
    ADD CONSTRAINT poll_templates_publish_options_published_template_id_fkey FOREIGN KEY (published_template_id) REFERENCES public.poll_templates_publish(id);


--
-- Name: poll_templates_publish poll_templates_publish_original_poll_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.poll_templates_publish
    ADD CONSTRAINT poll_templates_publish_original_poll_id_fkey FOREIGN KEY (original_poll_id) REFERENCES public.poll_templates(id);


--
-- Name: polls polls_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.polls
    ADD CONSTRAINT polls_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id);


--
-- Name: session_participants session_participants_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_participants
    ADD CONSTRAINT session_participants_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id);


--
-- Name: session_user_votes session_user_votes_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_user_votes
    ADD CONSTRAINT session_user_votes_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id);


--
-- Name: session_user_votes session_user_votes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.session_user_votes
    ADD CONSTRAINT session_user_votes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: votes votes_option_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_option_id_fkey FOREIGN KEY (option_id) REFERENCES public.poll_options(id);


--
-- Name: votes votes_poll_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_poll_id_fkey FOREIGN KEY (poll_id) REFERENCES public.polls(id);


--
-- Name: votes votes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.votes
    ADD CONSTRAINT votes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bPAppnBqgh17NGCtUf3929ZKJeep71iOYvY9ak16GQ6VwgSBfkVFx3uUppiQch6

